@import "../../resources/styles/vars.scss";

.darkModeSwitchStyle {
	color: black;
	height: $space-big;
		width: $space-big;
	position: absolute;
	/*left: 0.1*$space-big;
				top: 0.1*$space-big;*/

	@media only screen and (min-width:$breakpoint-mobile) {}

	@media only screen and (max-width:$breakpoint-mobile) {}
}

.slider_in {
	height: $space-big;
	width: $space-big;
	position: relative;
	left: 0;
	background-color: #00a6a6;
	border-radius: $space-big/2;
	animation-name: out;
	animation-duration: 0.4s;

}


.slider_out {
	height: $space-big;
	width: $space-big;
	position: relative;
	left: 1.1*$space-big;
	background-color: #00a6a6;
	border-radius: $space-big/2;
	animation-name: in;
	animation-duration: 0.4s;
}

.darkModeHolder {
	height: 1.2$space-big;
	width: 2.2*$space-big;
	background-color: black;
	border: (0.1*$space-big) solid white;
	border-radius: 1.1*$space-big/2;
}

.blackColor {
	background-color: white;
}

@keyframes in {
	0% {
		left: 0;
	}

	100% {
		left: 1.1*$space-big;
	}

}

@keyframes out {
	0% {
		left: 1.1*$space-big;
	}

	100% {
		left: 0;
	}
}