@import "../../resources/styles/vars.scss";

.headerStyle{
	background-color: $primary-color;
	font-size:$font-size-large;
	color:$primary-text-color;
	height: $space-giant;
}

.titleStyle{
	margin-left:6*$space-giant;
	line-height: $space-giant;
}