@import "../../resources/styles/vars.scss";

.headerStyle {
	background-color: var(--background);
		color: var(--text);
	font-size: $font-size-large;
	height: $space-giant;
	position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 3;
}

.titleStyle{
	line-height: $space-giant;
	position:absolute;
		top: 0px;
			left: $space-big;
		text-align: left;
}
.showNav{
	height:$space-giant;
	width:$space-giant;
	position: absolute;
	right: $space-small;
	@media only screen and (min-width:$breakpoint-mobile){
		top: -$space-giant;
			z-index: 1;
	}
	@media only screen and (max-width:$breakpoint-mobile){
		top: 0px;
			z-index: 1;
		}
		}

.darkModeIcon {
	height: 3rem;
	margin: 0.5rem;
	width: auto;
	position: absolute;
	right: 0vh;
	color: black;
	z-index: 2;
}
.catList {
	@media only screen and (min-width:$breakpoint-mobile) {
		display: flex;
		justify-content: space-evenly;
		left: $space-giant*3;
		right: $space-giant*3;
		flex-direction: row;
		position: absolute;
		top: ($space-giant - $font-size-large)/2;
	}

	@media only screen and (max-width:$breakpoint-mobile) {
		position: absolute;
		top: -$space-giant;
	}
}

.catStyle {
	font-size: $font-size-large
}
.darkModeSwitchInHeaderStyle {
	position: absolute;
	right: 0px;


	@media only screen and (min-width:$breakpoint-mobile) {
		top: $space;
		right: $space-big;
	}

	@media only screen and (max-width:$breakpoint-mobile) {
		position: absolute;
		right: -100vw;
	}

}