@import "../../resources/styles/vars.scss";

.hidden{
	position:absolute;
	z-index:2;
	top:$space-giant;
	bottom: 0;
	left:0;
	right:0;
	background-color: black;
	animation-name:fade;
	animation-duration: 0.3s;
	opacity:0.5;
}

@keyframes fade{
	0%{opacity: 0;}
	100%{opacity:0.5;}
}