@import "../../resources/styles/vars.scss";

.navStyle {
	height:100rem;
	position: fixed;
	@media only screen and (min-width:$breakpoint-mobile){
		min-width: 3*$space-giant;
			max-width: 3*$space-giant;
			top: $space-giant;
	}
	@media only screen and (max-width:$breakpoint-mobile){
		top:$space-giant;

	}
}

.shown{
	@media only screen and (min-width:$breakpoint-mobile){
		z-index:1;
	}
	@media only screen and (max-width:$breakpoint-mobile){
		z-index:3;
		animation-name:in;
		animation-duration: 0.4s;
	}
}
.hidden{
	@media only screen and (min-width:$breakpoint-mobile){
		z-index:1;
	}
	@media only screen and (max-width:$breakpoint-mobile){
		left:-5*$space-giant;
		animation-name:out;
		animation-duration:0.4s;
	}
}

@keyframes in{
	0%{
		left:-5*$space-giant;
	}
	100%{
		left:0px;
	}
}
@keyframes out{
	0%{
		left:0px;
		z-index:3;
	}
	100%{
		left:-5*$space-giant;
		z-index:3;
	}
}
.lightNav {
	background-color: white;
	color: $primary-color;
}

.darkNav {
	background-color: $gray-color-darker;
	color: white;
}

.linkBox {
	display: flex;
	flex-direction: column;
	text-indent: $space;

	@media only screen and (min-width:$breakpoint-mobile) {
		flex-direction: row;
	}

	&:hover {
		background-color: $primary-color;
		color: white;
	}

	&:active {
		background-color: $secondary-color;
		color: white;
	}
}