@import "../../resources/styles/vars.scss";

.buttonClass{
	position:absolute;
		bottom:40px;
		right:50px;

}
.aClass{
	position:absolute;
	@media only screen and (min-width:$breakpoint-mobile){
		bottom:50px;
		left:50px;
		}

	@media only screen and (max-width:$breakpoint-mobile){
		bottom:$space-big;
		left:$space-big;
	}
}

.iconClass{
	height:40px;
	width:40px;
}

.cardTitle{
	font-weight: bold;
	font-size: $font-size-large;
}