@import "../../resources/styles/vars.scss";

.buttonClass{
	position:absolute;
		bottom: 25px;
			right: 25px;
	:hover{
		cursor:pointer;
	}

}
.aClass{
	position:absolute;
	color: var(--text);
	@media only screen and (min-width:$breakpoint-mobile){
		bottom: 35px;
			left: 35px;
		}

	@media only screen and (max-width:$breakpoint-mobile){
		bottom:$space-big;
		left:$space-big;
	}
}

.iconClass{
	height: $space-big;
		width: $space-big;
		filter: invert(90%);
}

.cardTitle{
	font-weight: bold;
		position: relative;
		top: -1/4*$space-big;
	font-size: $font-size-large;
	color: var(--text);
}
/*.darkCard {
	background-color: var(--background);
		color: var(--text);
}*/
.cardClass {
	background-color: var(--background);
	color: var(--text);
}